/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * img, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body:after{
    display:none;
    content: url('../img/gamewatch.jpg') url(../img/tile.png) url(../img/check.png) url('../img/wang-left0.png') url('../img/wang-left1.png') url('../img/wang-right0.png') url('../img/wang-right1.png') url('../img/Game&WatchSymbol0.svg') url('../img/Game&WatchSymbol1.svg')  
}

html, body, #gamewatch {
  font-family: 'Chewy', cursive;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  position:relative;
}
.sound {
  position:absolute;
  z-index : 1000;
  top:0;
  left:0;
}
#gamewatch {
  background : #622900 no-repeat center url('../img/gamewatch.jpg');
  background-size : 100%;
}
#menu  {
  z-index: 1000;
  position: absolute;
  right : 5%;
  width : 10%;
  height: 40%;


}
#gameA, #gameB, #time {  
  height: 35%;
  border-radius : 100%;
  /*background-color:rgba(0,0,0,0.2);*/
 }
 
.left-side, .right-side {
  position: absolute;
  padding : 0;
  width: 15%; 
  height: 55%;
  bottom: 0; 
  /*background-color:rgba(0,0,0,0.2);*/
}
.left-side { left: 2%; }
.right-side { right: 1%; }
.big-red {
  position : relative;
  width  : 100%;
  height : 35%;
  margin-bottom : 13%;
  border-radius : 100%;
  /*background-color:rgba(0,0,0,0.2);*/
}


#ecran {
  position: absolute;
  top:  18%;
  left : 24%;
  width : 53%;
  height: 66%;
  text-align:center;
  font-size  : 1.5em;
 }
#hey {
  position: absolute;
  top:  0%;
  right : 0%;
  width : 200px;
  height: 200px;
  background : none
}
#bridge {
  position: absolute;
  width : 88%;
  height : 10%;
  bottom: 42%;
  left:4%;
  font-size : 2em;
  /*background-color : rgba(0,0,0,0.2);*/
}
.bridge-tile {
  position : relative;
  display:inline-block;
  background-color : none;
  margin : -1px;
  v-align:top;
  height: 100%;
  background : url('../img/tile.png');
  background-size : 100% 100%;
  font-weight: bold;
  color : white;
  /*background-color : rgba(0,0,0,0.2);*/
}  
#bridge-1 {
  position: absolute;
  display:inline-block;
  width : 20%;
  height : 10%;
  right:5%;
  top: 35%;
  background : url('../img/check.png');
  background-size : 100% 100%;

}
#wang {
  position : absolute;
  width : 75px;
  height : 75px;
  top : -55px;;
  left: 50%;
  background : no-repeat center url('../img/wang-left0.png');
  background-size : 100% 100%;
}
#game_info {
  position : absolute;
  top: 5%;
  left : 5%;
}
.life {
  position : relative;
  width : 35px;
  height : 35px;
  background : no-repeat center url('../img/wang-left0.png');
  background-size : 100% 100%;
}
.ui-dialog-titlebar {display:none}

#bubble, #bubble-number, #weight, #checked, #score {
  display    : inline;
  font-family: 'Chewy', cursive;
  font-size  : 2em;
  text-align : center;
}
#rules {
  position : absolute;
  top: 25%;
  left : 0%;
  width : 100%;
}
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(2);

  /* Webkit browsers*/
  -webkit-transform: scale(2);
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
